@import url(../../lib/fonts/init.css);
body {
font: normal 100% Helvetica, Arial, sans-serif;
color: white; }
#container {
position: fixed;
left: 0;
top: 56px;
bottom: 0px;
right: 0px;
z-index: 30;
overflow-y: auto; }
#header {
position: fixed;
left: 0;
top: 0;
right: 0;
height: 55px;
background: #38B1D8;
color: white;
border-bottom: 1px solid #EBE5D7;
-moz-box-shadow: 0px 1px 8px #dbdbdb;
-webkit-box-shadow: 0px 1px 8px #dbdbdb;
box-shadow: 0px 1px 8px #dbdbdb;
z-index: 100; }
#header > nav {
position: relative;
height: 100%;
width: 100%; }
#header div.logo {
position: absolute;
top: 5px;
left: 4px;
height: 45px;
line-height: 45px;
padding: 0 6px;
font-size: 35px;
font-weight: bold; }
#header div.action {
position: absolute;
top: 6.5px;
right: 10px;
height: 42px;
text-align: right;
margin-left: 150px; }
#footer{
width: 100%;
height: 25px;
bottom: 0px; }
#footer > div {
text-align: center;
color: #555555;
font-size: 0.875em; }
#pieChart > div {
position: relative;
float: left;
width: 33.33%;
text-align: center!important; }
#pieChart  div.chart,
#linkRoom-box div.right-wrapper  div.chart {
position: relative;
display: inline-block; }
#pieChart  div.chart > div.chart-content-wrapper,
#linkRoom-box div.right-wrapper  div.chart > div.chart-content-wrapper {
position: absolute;
top: 50%;
left: 50%; }
#pieChart  div.chart div.chart-inner-wrapper,
#linkRoom-box div.right-wrapper div.chart-inner-wrapper {
position: relative;
left: -50%;
margin-top: -25%; }
#pieChart  div.chart span.chart-number,
#linkRoom-box div.right-wrapper span.chart-number {
display: block;
color: #38B1D8;
font-size: 24px; }
#pieChart  p.chart-title,
#linkRoom-box div.right-wrapper p.chart-title {
color: #4d4d4d;
font-weight: bold;
font-size: 20px;
line-height: 25px;
margin: 10px 0 0; }
@media only screen and (max-width : 670px) {
#pieChart > div {
width: 100%; }
}
#message > div {
padding: 10px;
overflow-x: hidden; }
#message div.item{
color: #4d4d4d;
font-weight: bold;
margin: 8px 0; }
#message div.item.speed,
#message div.item.mood {
display: none; }
#message div.item > div.ui.segment {
padding: 8px; }
#message div.item div.time  {
text-align: right; }
#message div.item.mood > div.time,
#message div.item.speed > div.time {
display: inline-block; }