#sidebar-message > div.overlay {
display: none;
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0; }
#sidebar-message {
overflow-y: hidden; }
#sidebar-message #message {
width: 100%;
height: 100%;
background: rgb(233, 234, 237); }
#sidebar-message > section {
position: absolute;
top: 0;
right: 0;
width: 275px;
bottom: 41px;
overflow-y: auto; }
#sidebar-message > footer {
position: absolute;
bottom: 0;
right: 0;
width: 275px;
height: 41px; }