@import url(../../lib/fonts/init.css);
body {
font: normal 100% Helvetica, Arial, sans-serif;
background: #eee;
color: white; }
#header {
position: fixed;
left: 0;
top: 0;
right: 0;
height: 55px;
background: #38B1D8;
color: white;
border-bottom: 1px solid #EBE5D7;
-moz-box-shadow: 0px 1px 8px #dbdbdb;
-webkit-box-shadow: 0px 1px 8px #dbdbdb;
box-shadow: 0px 1px 8px #dbdbdb;
z-index: 100; }
#posting {
position: fixed;
left: 0;
bottom: 41px;
right: 0;
color: #444;
background: #e9eaed;
border-top: 1px solid #EBE5D7;
-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
z-index: 101; }
#posting > div {
position: relative;
height: 100%;
width: 100%;
text-align: center; }
#posting_btn {
position: absolute;
left: 0;
bottom: 0;
height: 41px;
line-height: 41px;
width: 41px;
text-align: center;
cursor: pointer; }
#header > nav {
position: relative;
height: 100%;
width: 100%;
text-align: center; }
#header > nav > div.sId {
display: inline-block;
line-height: 55px;
height: 55px;
font-size: 22px;
float: left;
margin: 0 0 0 10px; }
#header #results_btn {
position: absolute;
top: 0;
right: 0;
height: 55px;
line-height: 55px;
padding: 0;
font-size: 34px;
cursor: pointer; }
#header #results_btn > i {
display: inline-block;
padding: 0 8px;
font-family: Icons;
font-style: normal; }
#header #results_btn > i:before {
content: "\f080"; }
#container {
position: fixed;
left: 0;
top: 56px;
bottom: 41px;
right: 0;
z-index: 30;
overflow-y: auto; }
#message {
position: relative;
width: 100%;
padding: 10px 0; }
#footer{
position: fixed;
left: 0;
right: 0;
bottom: 0;
height: 41px;
z-index: 102;
} 
#message > div {
padding: 10px; }
#message div.item{
color: #4d4d4d;
font-weight: bold;
margin: 8px 0; }
#message div.item.mood > div.time,
#message div.item.speed > div.time {
display: inline-block; }
#message div.item div.time {
text-align: right; }
#message div.item > div.ui.segment {
padding: 8px; }
#mood div.swiper-nav,
#speed div.swiper-nav {
height: 95px;
position: relative;
width: 100%; }
#mood div.swiper-nav .swiper-slide,
#speed div.swiper-nav .swiper-slide {
	width: 80px;
	height: 95px;
	text-align: center;
	position: relative;
}
#mood div.swiper-nav .swiper-slide,
#speed div.swiper-nav .swiper-slide {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}
#mood div.swiper-nav .swiper-wrapper,
#speed div.swiper-nav .swiper-wrapper {
	margin: 0 auto;
}
#mood div.swiper-nav img,
#speed div.swiper-nav img {
	margin-top: 10px;
width: 60px;
height: 60px;
}
#mood div.swiper-nav .title,
#speed div.swiper-nav .title {
	margin: 0 5px;
	font-size: 10px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#posting-overlay {
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 101; }