#results-box {
display: none;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0, 0, 0, 0.5);
z-index: 999; }
@media screen and (min-width: 601px){
	#results-box > section {
	position: fixed;
	left: 2.5%;
	right: 2.5%;
	top: 2.5%;
	bottom: 2.5%;
	background: #38B1D8;
	box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
	-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
	-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
	margin: auto auto; }
}
@media screen and (max-width: 600px){
	#results-box > section {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #38B1D8;
	box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
	-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
	-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
	margin: auto auto; }
}
#results-box > section > header {
position: absolute;
top: 0;
left: 0;
height: 55px;
width: 100%;
background: #38B1D8;
border-bottom: 1px solid #EBE5D7; }
#results-box > section > article {
position: absolute;
width: 100%;
top: 56px;
bottom: 0;
background: white;
overflow-y: auto;
color: #555555; }
#results-box div.title {
position: relative;
font-size: 26px;
line-height: 56px;
height: 56px;
padding-left: 8px;
float: left;
cursor: pointer; }
#results-box i.back {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal; }
#results-box i.back:before {
content: '\f104'; }
#results-box div.title > div {
display: inline-block;
line-height: 56px;
height: 56px;
padding-left: 4px; }
#results-box  div.ui.segment > div.bar {
width: 500px;
margin: 2.5em auto 0; }
@media screen and (max-width: 500px){
	#results-box  div.ui.segment > div.bar {
	width: 100%;
	margin: 2.5em 0 0; }
}